/* VARIABLES */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

/* ---------- couleurs de fond ---------- */
--couleur-primaire: #F5F5F5;
--couleur-secondaire: #fff;
--couleur-tertiaire: #000;

/* ---------- boutons ---------- */

/*noir*/
--btn-noir-initial: #111111;
--btn-noir-survol: #707070;
--btn-noir-enfonce: #cdcdcd;
--btn-noir-focus: #707070;
--btn-noir-desactive : #2e2e2e;

--btn-noir-typo-initial: #fff;
--btn-noir-typo-survol: #fff;
--btn-noir-typo-enfonce: #111111;
--btn-noir-typo-focus: #fff;
--btn-noir-typo-desctive: #555555;

--btn-noir-bordure-focus: #00a2ff;

/*blanc*/
--btn-blanc-initial: #fff;
--btn-blanc-survol: #fff;
--btn-blanc-enfonce: #cdcdcd;
--btn-blanc-focus: #fff;
--btn-blanc-desactive: #fff;

--btn-blanc-typo-initial: #555555;
--btn-blanc-typo-survol: #555555;
--btn-blanc-typo-enfonce: #111111;
--btn-blanc-typo-focus: #555555;
--btn-blanc-typo-desactive: #dddddd;

--btn-blanc-bordure-initial: #dddddd;
--btn-blanc-bordure-survol: #000;
--btn-blanc-bordure-focus: #00a2ff;

/* ---------- typo ---------- */
/*header*/
--typo-nav: "Barlow", sans-serif;
--typo-titre: "Barlow Condensed", sans-serif;
--typo-lien-menu: barlow-condensed-bold-22px;
--typo-barre-recherche: "Barlow", sans-serif;
--typo-fil-ariane: "Barlow", sans-serif;
--typo-btn-categorie: "Barlow", sans-serif;
--typo-btn-masquer-filtres: "Barlow", sans-serif;
--typo-label-filtre: "Barlow", sans-serif;
--typo-liste-deroulante: "Barlow", sans-serif;

/*main*/
--typo-texte: "Barlow", sans-serif;
--typo-legende: "Barlow", sans-serif;
--typo-label: "Barlow", sans-serif;
--typo-nouveaute: Barlow-semibold-10px;
--typo-sexe: "Barlow", sans-serif;
--typo-sous-titre: "Barlow Condensed", sans-serif;
--typo-couleurs: "Barlow", sans-serif;
--typo-prix: "Barlow", sans-serif;
--typo-btn-ajout-panier: Barlow-medium-12px;
--typo-lien-page-suivante: "Barlow", sans-serif;

/*footer*/
--typo-lien-menu: "Barlow Condensed", sans-serif;
--typo-small: Barlow-regular-12px;
}

.lien-menu {
  font-family: var(--typo-lien-menu);
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 9%;
  text-transform: uppercase;
  color: var(--couleur-secondaire);
  text-decoration: none;
}

.recherche__champ-texte {
   font-family: var(--typo-barre-recherche);
}

.fil-ariane {
  font-family: var(--typo-fil-ariane);
  display: flex;
  gap: 1rem;
  list-style: none;
  color: #ADB1BC;
  padding-left: 4rem;
}

.fil-ariane_lien {
  text-decoration: none;
  color: #ADB1BC;
}

.titre-principal {
  font-family: var(--typo-titre);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.3125rem;
  padding-left: 4rem;
}

.header__nb-produits {
  font-family: var(--typo-texte);
  color: #858B97;
  padding-left: 4rem;
}

.liste-btn__item {
  font-family: var(--typo-btn-categorie);
}

/* boutons ------------- */
/*noir*/
.btn-noir {
  background-color: var(--btn-noir-initial);
  color: var(--btn-noir-typo-initial);
  font-weight: 500;
  border: none;
  height: 40px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 6%;
}

.btn-noir:hover {
  background-color: var(--btn-noir-survol);
  color: var(--btn-noir-typo-survol);
}

.btn-noir:active {
  background-color: var(--btn-noir-enfonce);
  color: var(--btn-noir-typo-enfonce);
}

.btn-noir:focus-visible {
  background-color: var(--btn-noir-focus);
  color: var(--btn-noir-typo-focus);
  outline: 2px solid var(--btn-noir-bordure-focus);
}

/*blancs*/
.btn-blanc {
  background-color: var(--btn-blanc-initial);
  color: var(--btn-blanc-typo-initial);
  border: 1px solid var(--btn-blanc-bordure-initial);
  height: 40px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 6%;
}

.btn-blanc:hover {
  background-color: var(--btn-blanc-survol);
  color: var(--btn-blanc-typo-survol);
  border-color: var(--btn-blanc-bordure-survol);
}

.btn-blanc:active {
  background-color: var(--btn-blanc-enfonce);
  color: var(--btn-blanc-typo-enfonce);
}

.btn-blanc:focus-visible {
  background-color: var(--btn-blanc-focus);
  color: var(--btn-blanc-typo-focus);
  border-color: var(--btn-blanc-bordure-focus);
  outline: 2px solid var(--btn-blanc-bordure-focus);
}

/*--------------------------------*/
.boite-chaussure_btn-panier {
  text-transform: uppercase;
  font-family: var(--typo-btn-masquer-filtres);
  background-color: var(--btn-blanc-initial);
  color: #AAAAAA;
  border: 1px solid var(--btn-blanc-bordure-initial);
  letter-spacing: 10%;
  font-weight: 500;
}

.boite-chaussure_btn-panier:hover {
  background-color: var(--btn-blanc-survol);
  color: var(--btn-blanc-typo-survol);
  border-color: var(--btn-blanc-bordure-survol);
}

.boite-chaussure_btn-panier:active {
  background-color: var(--btn-blanc-enfonce);
  color: var(--btn-blanc-typo-enfonce);
}

.boite-chaussure_btn-panier:focus-visible {
  background-color: var(--btn-blanc-focus);
  color: var(--btn-blanc-typo-focus);
  border-color: var(--btn-blanc-bordure-focus);
  outline: 2px solid var(--btn-blanc-bordure-focus);
}

.boite-chaussure_genre {
  font-family: var(--typo-sexe);
  color: #0090CF;
  text-transform: uppercase;
  letter-spacing: 9%;
  font-weight: 500;
  padding-left: 1rem;
}

.sous-titre {
  font-family: var(--typo-sous-titre);
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 1rem;
}

.boite-chaussure_couleurs {
  font-family: var(--typo-couleurs);
  color: #B1B7C3;
  padding-left: 1rem;
}

.boite-chaussure_prix {
  font-family: var(--typo-prix);
  padding-left: 1rem;
}

legend {
  font-family: var(--typo-legende);
  color: #434C5D;
  letter-spacing: 4%;
  text-transform: uppercase;
  font-weight: 500;
}

.libelle_champ-selection {
  font-family: var(--typo-label);
  color: #434C5D;
  padding: 0.2rem;
}