/* STYLE */
@charset "UTF-8";

/* 1. Déclaration de l'ordre de priorité des couches
(du moins prioritaire au plus prioritaire) */
@layer settings, base, layout, components;

/* 2. Importation des fichiers physiques dans les couches virtuelles */

/* Dossier : css/settings/ */
@import url("css/settings/variables.css") layer(settings);

/* Dossier : css/base/ */
@import url("css/base/normalize.css") layer(base);
/* @import url("css/base/typography.css") layer(base); */

/* Dossier : css/layout/ */
/* @import url("css/layout/grid.css") layer(layout); */

/* Dossier : css/components/ */
@import url("css/components/menu.css") layer(components);
/* @import url("css/components/accordeon.css") layer(components); */
/* @import url("css/components/modale.css") layer(components); */

.liste-btn__categorie-produits {
    list-style: none;
    display: flex;
    gap: 0.4rem;
    padding-left: 4rem;
}

header {
    background-color: var(--couleur-primaire);
}

.section-filtres {
    background-color: var(--couleur-secondaire);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.btn-camouflage {
    background-color: var(--couleur-secondaire);
    border: none;
    font-family: var(--typo-btn-masquer-filtres);
    text-transform: uppercase;
    letter-spacing: 6%;
    font-weight: 500;
    padding-left: 4rem;
    cursor: pointer;
}

.icon-btn-filtre {
    padding-right: 1rem;
}

.section-filtre_liste-deroulante {
    font-family: var(--typo-label-filtre);
    color: #ACB2BE;
}

select {
    padding: 0.5rem;
    margin-left: 0.2rem;
    border: #E6E7EB 2px solid;
}

.grille-chassure {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: right;
    background-color: var(--couleur-primaire);
    width: 100%;
}

.grille-chaussure__boite-chaussure img {
    width: 263px;
    height: 185px;
    object-fit: cover; /* sert a crop l'image, va decouper le reste */
    object-position: center;
}

.grille-chaussure__boite-chaussure {
    background-color: var(--couleur-secondaire);
}

.ajustement-main {
    display: flex;
}

.boite-chaussure_btn-panier {
    width: 100%;
    background-color: var(--couleur-secondaire);
    height: 38px;
    border: 2px solid #E6E7EB;
    font-family: var(--typo-btn-categorie);
}

.champ_selection-preferences {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-right: 10rem;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid 2px #EDEEF0;
    margin: 1.5rem;
}

.selction-preferences {
    background-color: var(--couleur-primaire);
}

.liste_page-suivante {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    height: 129px;
    align-items: center; /* centrer verticalement */
    background-color: var(--couleur-primaire);
    margin: 0;
    padding: 0;
}

.liste_page-suivante a {
    padding-bottom: 15.5px;
    padding-top: 15.5px;
    font-family: var(--typo-lien-page-suivante);
    text-decoration: none;
}

footer {
    background-color: #2A2A2A;
    height: 100px;
    padding: 4rem;
}

/* screen reader -- ne pas utiliser display: none; */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section_footer-haut {
    display: flex;
    justify-content: space-between;
}

.section_footer-small {
    display: flex;
    justify-content: space-between;
    color: #8B919F;
    height: 70%;
    align-items: end;
}

.footer-nav-menu__list-footer {
    text-transform: uppercase;
    display: flex;
    gap: 40px;
    list-style: none;
    color: var(--couleur-secondaire);
    text-decoration: none;
}

.footer-nav-menu__list-footer a {
    list-style: none;
    color: var(--couleur-secondaire);
    text-decoration: none;
    font-family: var(--typo-nav);
}

.footer_liste-medias {
    display: flex;
    list-style: none;
    gap: 17px;
}

.section-filtre_liste-deroulante {
    padding-right: 4rem;
}

/* ajustements */
main {
    background-color: var(--couleur-primaire);
    padding-right: 4rem;
    padding-left: 2rem;
}

/* version Mobile */
@media (width < 768px) {
    main {
    background-color: var(--couleur-primaire);
    padding-right: 2rem;
    padding-left: 1rem;
}
.section-filtre_liste-deroulante {
    padding-right: 2rem;
}

.liste-btn__categorie-produits {
    padding-left: 2rem;
}

.titre-principal {
  padding-left: 2rem;
}

footer {
    padding: 2rem;
    height: 100%;
}

.btn-camouflage {
    padding-left: 2rem;
}

.fil-ariane {
  padding-left: 2rem;
}

.header__nb-produits {
  padding-left: 2rem;
}

.champ_selection-preferences {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 93%;
    padding-right: 0;
}

.selction-preferences {
    width: 100%;
}

.ajustement-main {
    flex-direction: column;
}

.grille-chassure {
    justify-content: center;
}

.liste-btn__categorie-produits {
    flex-wrap: wrap;
}

.section-filtres {
    flex-direction: column;
    align-items: center;
}

.btn-camouflage {
    padding-left: 0;
    padding-bottom: 1.5rem;
}

.nav-menu {
    flex-direction: column;
    gap: 1.5rem;
}

.section_footer-haut {
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.section_footer-small {
    flex-direction: column;
}

.footer-nav-menu__list-footer {
    flex-direction: column;
    padding-left: 0;
    padding-top: 2rem;
}

.liste_page-suivante {
    flex-direction: column;
    padding: 8rem;
    gap: 3rem;
}

header {
    flex-wrap: wrap;
}
}

/* -- typographie -- */
.lien-menu {
  font-family: var(--typo-lien-menu);
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 9%;
  text-transform: uppercase;
  color: var(--couleur-secondaire);
  text-decoration: none;
}

.recherche__champ-texte {
   font-family: var(--typo-barre-recherche);
}

.fil-ariane {
  font-family: var(--typo-fil-ariane);
  display: flex;
  gap: 1rem;
  list-style: none;
  color: #ADB1BC;
  padding-left: 4rem;
}

.fil-ariane_lien {
  text-decoration: none;
  color: #ADB1BC;
}

.titre-principal {
  font-family: var(--typo-titre);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.3125rem;
  padding-left: 4rem;
}

.header__nb-produits {
  font-family: var(--typo-texte);
  color: #858B97;
  padding-left: 4rem;
}

.liste-btn__item {
  font-family: var(--typo-btn-categorie);
}

/* boutons ------------- */
/*noir*/
.btn-noir {
  background-color: var(--btn-noir-initial);
  color: var(--btn-noir-typo-initial);
  font-weight: 500;
  border: none;
  height: 40px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 6%;
}

.btn-noir:hover {
  background-color: var(--btn-noir-survol);
  color: var(--btn-noir-typo-survol);
}

.btn-noir:active {
  background-color: var(--btn-noir-enfonce);
  color: var(--btn-noir-typo-enfonce);
}

.btn-noir:focus-visible {
  background-color: var(--btn-noir-focus);
  color: var(--btn-noir-typo-focus);
  outline: 2px solid var(--btn-noir-bordure-focus);
}

/*blancs*/
.btn-blanc {
  background-color: var(--btn-blanc-initial);
  color: var(--btn-blanc-typo-initial);
  border: 1px solid var(--btn-blanc-bordure-initial);
  height: 40px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 6%;
}

.btn-blanc:hover {
  background-color: var(--btn-blanc-survol);
  color: var(--btn-blanc-typo-survol);
  border-color: var(--btn-blanc-bordure-survol);
}

.btn-blanc:active {
  background-color: var(--btn-blanc-enfonce);
  color: var(--btn-blanc-typo-enfonce);
}

.btn-blanc:focus-visible {
  background-color: var(--btn-blanc-focus);
  color: var(--btn-blanc-typo-focus);
  border-color: var(--btn-blanc-bordure-focus);
  outline: 2px solid var(--btn-blanc-bordure-focus);
}

/*--------------------------------*/
.boite-chaussure_btn-panier {
  text-transform: uppercase;
  font-family: var(--typo-btn-masquer-filtres);
  background-color: var(--btn-blanc-initial);
  color: #AAAAAA;
  border: 1px solid var(--btn-blanc-bordure-initial);
  letter-spacing: 10%;
  font-weight: 500;
}

.boite-chaussure_btn-panier:hover {
  background-color: var(--btn-blanc-survol);
  color: var(--btn-blanc-typo-survol);
  border-color: var(--btn-blanc-bordure-survol);
}

.boite-chaussure_btn-panier:active {
  background-color: var(--btn-blanc-enfonce);
  color: var(--btn-blanc-typo-enfonce);
}

.boite-chaussure_btn-panier:focus-visible {
  background-color: var(--btn-blanc-focus);
  color: var(--btn-blanc-typo-focus);
  border-color: var(--btn-blanc-bordure-focus);
  outline: 2px solid var(--btn-blanc-bordure-focus);
}

.boite-chaussure_genre {
  font-family: var(--typo-sexe);
  color: #0090CF;
  text-transform: uppercase;
  letter-spacing: 9%;
  font-weight: 500;
  padding-left: 1rem;
}

.sous-titre {
  font-family: var(--typo-sous-titre);
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 1rem;
}

.boite-chaussure_couleurs {
  font-family: var(--typo-couleurs);
  color: #B1B7C3;
  padding-left: 1rem;
}

.boite-chaussure_prix {
  font-family: var(--typo-prix);
  padding-left: 1rem;
}

legend {
  font-family: var(--typo-legende);
  color: #434C5D;
  letter-spacing: 4%;
  text-transform: uppercase;
  font-weight: 500;
}

.libelle_champ-selection {
  font-family: var(--typo-label);
  color: #434C5D;
  padding: 0.2rem;
}

small {
  font-family: var(--typo-small);
  line-height: 159%;
}

/* masquer */
.masquer {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}